<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <aside>
        <div class="top">
            <img src="images/instagram.png" class="ce">
        </div>
        <div class="middle">
            <div class="one">
                <span><i class="fa-solid fa-house-chimney"></i></span>
                <span>Home</span>
            </div>
            <div class="one">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                <span><a href="/search">search</a></span>
            </div>
            <div class="one">
                <span><i class="fa-regular fa-compass"></i></span>
                <span>Explore</span>
            </div>
            <div class="one">
                <span><img src="images/clapperboard.png" class="board"></span>
               <span> Reels</span>
            </div>
            <div class="one">
               <span> <i class="fa-brands fa-facebook-messenger"></i></span>
                <span>Messages</span>
            </div>
            <div class="one">
                <span><i class="fa-solid fa-heart"></i></span>
               <span> Notifications</span>
            </div>
            <div class="one">
               <span> <i class="fa-regular fa-square-plus"></i></span>
                <span>Create</span>
            </div>
            <div class="one">
                <span><img src="images/profile-circle.svg" class="pro"></span>
                <span><a href="/profile">profile</a></span>
            </div>
        </div>
        <div class=" middle footer">
            <div>
                <i class="fa-brands fa-threads"></i>
                Threads
            </div>
            <div>
                <i class="fa-solid fa-bars"></i>
                More
            </div>
        </div>
    </aside>
    <main>
        <div class="circle2">hello</div>
                <div class="circle1"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
    </main>
</body>
</html>