*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
.main{
    display: flex;
}
aside{
    position: relative;
    height: 100vh;
    width: 15%;
}
.top{
    margin: 20px;
    margin-bottom: 50px;
    height: 5vh;
    width:40px;
}
.top img{
    height: 50px;
}
.board{
    height: 17px;
}
.pro{
    height: 17px;
}
.footer{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 5vh;
    cursor: pointer;
}
.shiva{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-top: 5vh;
}
.acc{
    height: 20px;
    width: 20px;
}
.space{
    width: 30px;
    height: 25px;
}
.middle{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    font-weight: 400;
}
.one{
    display: flex;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    gap: 20px;
}
.one:hover{
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}
.line{
    height: 100vh;
    width: 2px;
    border-left: 2px solid rgb(211,211,211);
}
header{
    display: flex;
    height: 20vh;
    width: 60vw;
    margin-left: 15vw;
}
.name , .left{
    margin-top: 5vh;
}
.left{
    margin-left: 2vw;
}
.name{
    margin-left: 5vw;
    display: flex;
    gap: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mssg{
    height: 30px;
    width: 90px;
    border-radius: 8px;
}
.dot{
    margin-top: 1vh;
}
.det{
    display: flex;
    gap: 40px;
    margin-left: 70px;
}
.vani{
    font-weight: 600;
}
.all{
    width: 300px;
    font-size: 14px;
  margin-left: 70px;   
}
.followed{
    color: rgb(115 , 115, 115);
}
.ys{
    font-weight: 600;
}
middle{
    display: flex;
    margin-left: 200px;
    margin-top: 120px;
}
.circle{
    margin-left: 40px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 2px solid black;
}
.limit{
        margin-left: 200px;
}
.post{
    display: flex;
    gap: 100px;
    margin-left: 480px;
}
.posts1{
    margin-left: 200px;
}
.stn{
    margin-top: 4px;
}
.stn1{
    font-size: 20px;
}